[mysqld]
skip-host-cache
skip-name-resolve
user = mysql
datadir = /var/lib/mysql

innodb_file_per_table
innodb_flush_method=O_DIRECT
innodb_log_file_size=1G
innodb_buffer_pool_size=4G

!includedir /etc/mysql/conf.d/



